
.sidebar-form input {
    font-size: small;
}

.item-table {
    overflow-x: auto;
}

.btn-xsm {
    padding: 0.25rem 0.5rem;
    font-size: 0.675rem;
    line-height: 1;
    border-radius: 0.2rem;
}
