<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Briefcase Demo</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Logo -->
            <a class="sidebar-brand " th:href="@{/api/v1/portfolio/?name=}+${portfolio_name}">
                <div class="sidebar-brand-icon">
                    <i class="fas fa-briefcase"></i>
                </div>
            </a>

            <!-- Divider -->
            <hr class="mb-4 sidebar-divider">

            <!-- Select/Create Portfolio -->
            <form class="ml-3 mr-3 sidebar-form" action="#" th:action="@{/api/v1/portfolio}" method="post">
                <!-- Heading -->
                <h6 class="text-white">Select/Create Portfolio:</h6>
                <div class="form-group">
                    <!--<label class="text-info" for="portfolioInput">Portfolio</label>-->
                    <input type="text" th:name="name" class="form-control" id="portfolioInput" placeholder="Enter portfolio name">
                </div>
                <button type="submit" class="mb-2 btn btn-success" value="Submit">Submit</button>
            </form>

            <!-- Divider -->
            <hr class="mt-4 mb-4 sidebar-divider">

            <!-- Add to Portfolio Form -->
            <form class="ml-3 mr-3 sidebar-form" action="#" th:action="@{/api/v1/portfolio/add-item?name=}+${portfolio_name}" method="post">
                <!-- Heading -->
                <h6 class="text-white">Add to Portfolio:</h6>
                <div class="form-group">
                    <label class="text-warning" for="typeSelect">Type</label>
                    <div>
                        <select id="typeSelect" th:name="type">
                            <option value="stock">stock</option>
                            <option value="crypto">crypto</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="text-warning" for="tickerInput">Ticker</label>
                    <input type="text" th:name="ticker" class="form-control" id="tickerInput" placeholder="Enter ticker">
                </div>
                <div class="form-group">
                    <label class="text-warning" for="quantityInput">Quantity</label>
                    <input type="text" th:name="quantity" class="form-control" id="quantityInput" placeholder="Enter quantity">
                </div>
                <div class="form-group">
                    <label class="text-warning" for="buyPriceInput">Buy Price</label>
                    <input type="text" th:name="price" class="form-control" id="buyPriceInput" placeholder="Enter price">
                </div>
                <button type="submit" class="mb-2 btn btn-success" value="Submit">Add</button>
                <button type="reset" class="mb-2 btn btn-secondary" value="Reset">Reset</button>
            </form>

            <!-- Divider -->
            <hr class="mt-4 mb-4 sidebar-divider">

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="bg-white topbar mb-4 static-top shadow d-sm-flex flex-wrap align-items-center justify-content-between">
                    <!-- Arrow -->
                    <button id="arrow" class="m-2 btn btn-primary">
                        <i id="arrowIcon" class="fas fa-arrow-circle-right"></i>
                    </button>

<!--                    &lt;!&ndash; Page Heading &ndash;&gt;-->
<!--                    <h1 class="h3 m-2 text-primary">-->
<!--                        <i class="mr-2 fas fa-chart-pie"></i>Portfolio-->
<!--                    </h1>-->

                    <!-- Current Portfolio-->
                    <h1 class="h3 m-2 pb-1 text-primary">[<span th:text="${portfolio_name}"></span>]</h1>

                    <!-- Refresh Prices-->
                    <form action="#" th:action="@{/api/v1/portfolio/update?name=}+${portfolio_name}" method="post">
                        <button class="m-2 btn btn-success" value="Submit"><i class="fas fa-sync"></i></button>
                    </form>
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Content Row -->
                    <div class="row">
                        <!-- Total Holdings -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                Total Holdings</div>
                                            <div id="total_holdings" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Total Profit/Loss -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div id="total_pls_card" class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div id="total_pls_heading" class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Total Profit/Loss</div>
                                            <div id="total_pls" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Largest Position -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Largest Position</div>
                                            <div id="largest_position_percentage" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-percent fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                        <!-- Positions Bar Chart -->
                        <div class="col-xl-7 col-lg-6">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-secondary">Positions</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-bar">
                                        <canvas id="positionsBarChart"></canvas>
                                    </div>
                                    <hr>
                                    Bar chart <code>/js/demo/chart-bar.js</code>
                                </div>
                            </div>
                        </div>

                        <!-- Holdings Pie Chart -->
                        <div class="col-xl-5 col-lg-6">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-secondary">Holdings Breakdown</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-pie pt-4 pb-2">
                                        <canvas id="holdingsPieChart"></canvas>
                                    </div>
                                    <hr>
                                    Donut/Pie chart <code>/js/demo/chart-pie.js</code>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row-->
                    <div class="row">
                        <!-- Profit/Loss Bar Chart -->
                        <div class="col-xl">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-secondary">Profit/Loss</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-bar">
                                        <canvas id="plsBarChart"></canvas>
                                    </div>
                                    <hr>
                                    Bar chart <code>/js/demo/chart-bar.js</code>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row-->
                    <div class="row">
                        <div class="item-table col-xl">
                            <table class="table table-light rounded shadow">
                                <thead>
                                    <th scope="col">Name</th>
                                    <th scope="col">Ticker</th>
                                    <th scope="col">Buy Price</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col"></th>
                                </thead>
                                <tbody>
                                    <tr th:each = "pitem: ${pitems}">
                                        <th scope="row" th:text="${pitem.item.name}"></th>
                                        <td th:text="${pitem.item.ticker}"></td>
                                        <td th:text="'$' + ${pitem.buyPrice}"></td>
                                        <td th:text="'$' + ${pitem.item.price}"></td>
                                        <td th:text="${pitem.quantity}"></td>
                                        <td>
                                            <form action="#" th:action="@{/api/v1/portfolio/delete-item?name=}+${portfolio_name}" method="post">
                                                <input type="hidden" th:name="id" th:value="${pitem.id}">
                                                <button type="submit" class="btn btn-xsm btn-danger" value="Delete">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                        <div class="col-lg-6 mb-4">
                            <!-- Information -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-secondary">Site Information</h6>
                                </div>
                                <div class="card-body">
                                    <p>Stock prices and other information are retrieved from the IEX cloud financial markets API.</p>
                                    <a href="https://iexcloud.io">Market data provided by IEX Cloud</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Briefcase Demo 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Portfolio data handling-->
    <script th:inline="javascript">
        // Convert data to usable javascript object.
        var pitems = /*[[${pitems}]]*/;

        // Generate data arrays.
        var pitem_tickers = []
        var pitem_bprices = []
        var pitem_prices = []
        var pitem_quantities = []
        var pitem_pls = []
        var pitem_total_pls = []
        var pitem_holdings = []
        for (i = 0; i < pitems.length; i++)
        {
            pitem_tickers.push(pitems[i].item.ticker)
            pitem_bprices.push(pitems[i].buyPrice)
            pitem_prices.push(pitems[i].item.price)
            pitem_quantities.push(pitems[i].quantity)
            pitem_pls.push(pitems[i].item.price - pitems[i].buyPrice)
            pitem_total_pls.push((pitems[i].item.price - pitems[i].buyPrice) * pitems[i].quantity)
            pitem_holdings.push(pitems[i].item.price * pitems[i].quantity)
        }
    </script>

    <script th:inline="javascript">
        // Get CSS color variables
        var style = getComputedStyle(document.body);
        var color_primary = style.getPropertyValue('--primary')
        var color_primary_hover = style.getPropertyValue('--primary-hover')
        var color_secondary = style.getPropertyValue('--secondary')
        var color_secondary_hover = style.getPropertyValue('--secondary-hover')
        var color_success = style.getPropertyValue('--success')
        var color_success_hover = style.getPropertyValue('--success-hover')
        var color_info = style.getPropertyValue('--info')
        var color_info_hover = style.getPropertyValue('--info-hover')
        var color_warning = style.getPropertyValue('--warning')
        var color_warning_hover = style.getPropertyValue('--warning-hover')
        var color_danger = style.getPropertyValue('--danger')
        var color_danger_hover = style.getPropertyValue('--danger-hover')
    </script>

    <!-- Front-end portfolio calculations-->
    <script th:src="@{/js/calculate.js}"></script>
    <script th:src="@{/js/update.js}"></script>

    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!--Custom scripts for all pages-->
    <script th:src="@{/js/arrow.js}"></script>
    <script th:src="@{/js/sb-admin-2.js}"></script>

    <!-- Page level plugins -->
    <script th:src="@{/vendor/chart.js/Chart.min.js}"></script>

    <!-- Page level custom scripts -->
    <script th:src="@{/js/charts/chart-colors.js}"></script>
    <script th:src="@{/js/charts/chart-pie.js}"></script>
    <script th:src="@{/js/charts/chart-bar.js}"></script>

</body>

</html>