<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portfolio Demo</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-chart-line"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Portfolio Demo</div>
            </a>

            <!-- Divider -->
            <hr class="mb-4 sidebar-divider">

            <!-- Add Stock Form -->
            <form class="ml-3 mr-3 stock-form" action="#" th:action="@{/api/v1/portfolio}" method="post">
                <!-- Heading -->
                <h6 class="text-white">Add a Stock:</h6>
                <div class="form-group">
                    <label class="text-info" for="portfolioInput">Portfolio</label>
                    <input type="text" th:name="portfolio_name" class="form-control" id="portfolioInput" placeholder="Enter portfolio name">
                </div>
                <div class="form-group">
                    <label class="text-info" for="stockInput">Stock</label>
                    <input type="text" th:name="stock_name" class="form-control" id="stockInput" placeholder="Enter stock name">
                </div>
                <div class="form-group">
                    <label class="text-info" for="tickerInput">Ticker</label>
                    <input type="text" th:name="ticker" class="form-control" id="tickerInput" placeholder="Enter stock ticker">
                </div>
                <div class="form-group">
                    <label class="text-info" for="quantityInput">Quantity</label>
                    <input type="text" th:name="quantity" class="form-control" id="quantityInput" placeholder="Enter stock quantity">
                </div>
                <button type="submit" class="btn btn-success" value="Submit">Add</button>
                <button type="reset" class="btn btn-warning" value="Reset">Reset</button>
            </form>

            <!-- Divider -->
            <hr class="mt-4 mb-4 sidebar-divider">
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="bg-white topbar mb-4 static-top shadow d-sm-flex align-items-center justify-content-flex-start">
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav">
                        <!-- Page Heading -->
                        <div class="nav-item ml-4 d-sm-flex align-items-center justify-content-flex-start">
                            <i class="mb-1 fas fa-chart-pie"></i>
                            <h1 class="h3 mb-0 ml-2 text-gray-800">Portfolio Dashboard</h1>
                        </div>
                    </ul>
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Content Row -->
                    <div class="row">
                        <!-- Total Portfolio Value -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Total Portfolio Value</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Average Stock Price -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                Average Stock Price</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Largest Position -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Largest Position</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">65%</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-percent fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->

                    <div class="row">
                        <!-- Stock Positions Bar Chart -->
                        <div class="col-xl-7 col-lg-6">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Stock Positions</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-bar">
                                        <canvas id="myBarChart"></canvas>
                                    </div>
                                    <hr>
                                    Styling for the bar chart can be found in the
                                    <code>/js/demo/chart-bar-demo.js</code> file.
                                </div>
                            </div>
                        </div>

                        <!-- Holdings Pie Chart -->
                        <div class="col-xl-5 col-lg-6">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Holdings Breakdown</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-pie pt-4 pb-2">
                                        <canvas id="myPieChart"></canvas>
                                    </div>
                                    <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-primary"></i> AAPL
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-success"></i> QCOM
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-info"></i> NIO
                                        </span>
                                    </div>
                                    <hr>
                                    Styling for the pie chart can be found in the
                                    <code>/js/demo/chart-pie-demo.js</code> file.
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row-->
                    <div class="row">
                        <div class="col-xl">
                            <table class="table table-light rounded shadow">
                                <thead>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Ticker</th>
                                    <th scope="col">Portfolio</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                </thead>
                                <tbody>
                                    <tr th:each = "pstock: ${pstocks}">
                                        <th scope="row" th:text="${pstock.id}"></th>
                                        <td th:text="${pstock.stock.name}"></td>
                                        <td th:text="${pstock.stock.ticker}"></td>
                                        <td th:text="${pstock.owner.name}"></td>
                                        <td th:text="${pstock.stock.price}"></td>
                                        <td th:text="'$' + ${pstock.quantity}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                        <div class="col-lg-6 mb-4">
                            <!-- Information -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Site Information</h6>
                                </div>
                                <div class="card-body">
                                    <p>Stock prices and other information are retrieved from the IEX cloud financial markets API.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Portfolio Demo 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!--Custom scripts for all pages-->
    <script src="js/sb-admin-2.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>
    <script src="js/demo/chart-bar-demo.js"></script>

</body>

</html>