<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stock Portfolio</title>
</head>
<body>
    <h1>Add Stock to Portfolio</h1>
    <form action="#" th:action="@{/api/v1/portfolio}" method="post">
        <p>Portfolio: <input type="text" th:name="portfolio_name"></p>
        <p>Stock: <input type="text" th:name="stock_name"></p>
        <p>Ticker: <input type="text" th:name="ticker"></p>
        <p>Quantity: <input type="text" th:name="quantity"></p>
            <input type="submit" value="Submit">
            <input type="reset" value="Reset">
        </p>
    </form>

    <h1>Portfolio Stocks:</h1>
    <div th:each = "pstock: ${pstocks}">
        <p th:text="'Name: ' + ${pstock.stock.name}"></p>
        <p th:text="'Ticker: ' + ${pstock.stock.ticker}"></p>
        <p th:text="'Portfolio: ' + ${pstock.owner.name}"></p>
        <p th:text="'Price: $' + ${pstock.stock.price}"></p>
        <p th:text="'Quantity : ' + ${pstock.quantity}"></p>
    </div>
</body>
</html>